diffusers >= 0.30.0
omegaconf
accelerate
pydantic
docstring_parser

# for lgm
roma
kiui
plyfile

# DynamiCrafter
open_clip_torch
kornia

trimesh

smplx

# for MeshAnythingV2
scikit-image
mesh2sdf

# for magi
shapely

# for Florence 2
flash_attn